@import "tailwindcss";


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply w-full px-4 py-3 rounded-lg border border-gray-300
           focus:outline-none focus:ring-2 focus:ring-indigo-500
           focus:border-indigo-500 transition;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


